*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

:root {
  --blue: #a2f4ff;
  --wrong: #f81f43;
  --right: #33b603;
  
}

body {
  background-color: rgb(40, 40, 40);
}

main {
  padding:0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  margin: 15px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 610;
}

ul {
  display: flex;
  gap: 1rem;
}

nav {
  background-color: rgb(67, 67, 154);
}

.container {
  width: 600px;
  max-width: 80%;
  background-color: rgb(143, 220, 222);
  border-radius: 5px;
  padding: 15px;
  box-shadow: -4px 4px 1px 1px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: rgb(70, 70, 198);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  transition: all ease .2s;
}

.btn:hover {
  transition: all ease .2s;
  border-color: rgb(12, 219, 150);
  background-color: rgb(43, 43, 192);
  cursor: pointer;
  transition: all ease 0.2s
}

.start-btn, .restart-btn, .next-btn, .submit-btn {
  transition: all ease 0.5s ;
  padding: 10px 20px;
  background-color: rgb(67, 67, 154);
  border: none;
  border-radius: 15px;
  margin: 60px auto;
  color: white;
  font-weight: 700;
  font-size: larger;
  letter-spacing: .08rem;
}

.start-btn:hover, .restart-btn:hover, .next-btn:hover, .submit-btn:hover {
  letter-spacing: .1rem;
  background: linear-gradient(135deg, #412b89 0%,#de3ec9 100%);
  cursor: pointer;
  transition: all ease 0.3s;
}

.timer-container {
  display: inline;
  
}
.timer {
  display: inline;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}


.hide {
  display: none;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: crimson;
}
/* .timer-display {
  display: inline;

} */